doctype html
html
    head 
        title | Wetube              
    body 
        header
            h1 WeTube h1
        main 
            block content
        footer
            span &copy; WeTube all rights reserved
